<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
{% block content %}
    <h1 class="text-center">AML Permit Tracker</h1>
    <table class="table table-striped table-light table-hover">
        <thead class="thead thead-dark">
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Permit Type</th>
        <th scope="col">Permit Conditions</th>
        <th scope="col">Site</th>
        <th scope="col">Area</th>
        <th scope="col">Issue Date</th>
        <th scope="col">Expiration Date</th></tr>
    </thead>
        
    
    <tbody>
        {% for permit in permit %}
    <tr>
        <td>
            {{ permit.id }}
            </td>
    <td>
        {{ permit.name }}
        </td>
    <td>
        {{ permit.permit_type }}
    </td>
    <td>
        {{ permit.permit_conditions}}
    </td>
    <td>
        {{ permit.site}}
    </td>
    <td>
        {{ permit.area}}
    </td>
    <td>
        {{ permit.issue_date }}
    </td>
    <td>
        {{ permit.expiration_date }}
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


  
    
{% endblock %}
</body>
</html>